In [2]:
import pandas as pd
Y = pd.read_csv('EPC5.csv')
Y

         4.6821953e+00
0             4.598934
1             5.405778
2             5.226688
3             5.152617
4             5.105249
...                ...
1994          5.028173
1995          5.233299
1996          4.771218
1997          4.527655
1998          4.477009

[1999 rows x 1 columns]